<div class="col-xs-12">
  <h1>Mes appariels</h1>
  <p>Mis a jour: {{lastUpdate | date}}</p>
  <ul class="list-group">
    <app-appareil *ngFor="let appariel of appariels; let i = index"
                  [indexOfAppariel]="i"
                  [apparielName]="appariel.name"
                  [apparielStatus]="appariel.status"> </app-appareil>

  </ul>
  <button class="btn btn-success"
          [disabled]="!isAuth"
          (click) ="onAllumer()"> Tout allumer</button>
  <button class="btn btn-danger" (click)="onEtiendre()"> Tout étiendre </button>
</div>